body {
  font-family: "Neucha", monospace, cursive;
}

a {
  color: black;
}

a:hover {
  color: grey;
}

nav ul {
  list-style: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

nav li {
  float: right;
}

nav li a {
  text-align: center;
  display: block;
  padding: 16px;
}

#Nav-Bar {
  position: relative;
  /*border: solid black;*/
}

.avatar img {
  /* border: solid black; */
  position: relative;
  max-width: 100%;
  height: auto;
  float: right;
  margin-right: 1px;
}

#aboutMeText {
  text-align: center;
  font-family: "Neucha", monospace, cursive;
  max-width: 100%;
  height: auto;
  position: inherit;
  /* border: solid black; */
  margin-right: 40.5%;
  margin-left: 40.5%;
  margin-top: 5%;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align: center;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
